.git
.github
.DS_Store
**/.DS_Store
*.DS_Store
**/*.DS_Store
**/.env
**/.env.*
**/node_modules
**/target
frontend/dist
frontend/test-results
frontend/test-results-real
frontend/playwright-report
frontend/playwright-report-real
frontend/blob-report
backend/backups
backups
data
servers
install/linux/imports
install/linux/secrets
install/linux/traefik/dynamic.yml
