.mandatory-password-card {
    width: 100%;
    max-width: 480px;
    padding: 2.5rem;

    &__header {
        margin-bottom: 1.5rem;
        text-align: center;

        h1 {
            margin-bottom: 0.75rem;
        }

        p {
            margin-bottom: 0.5rem;
        }
    }

    @media (max-width: 640px) {
        padding: 1.5rem;
    }
}
